#app{
  height:90vh;
}
.night{
  background-color: black;
  color:skyblue;
}

#swap{
  outline:0;
}


.day {
  background-color: #fffff; /* Light theme background color */
  color: skyblue; /* Light theme text color */
}



